body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #afffd0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  margin-top: 150px;
}
