header{
    position: absolute;
    top: 0;
    margin-top: 150px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #afffd0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.directions{
    text-align: center;
    margin-bottom: -20px;
}

.switches-and-submit-button {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    width: 100%;
}
 
.switches{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-gap: 30px;  
    justify-content: center;
    align-items: center;
    background-color: #004872;
    padding: 10px;
    border: 5px solid gray;
    margin: 0 auto
}

.submit-button button:hover {
    background-color: #004872de;
}

.submit-button button:active{
    background-color: green;
    transition: 0.01s ease;
}

.text-box {
    margin-bottom: 80px;
    text-align: center;
}

#letterDisplay {
    width: 300px;
    height: 300px;
    font-size: 50px;
    font-color: black;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    font-weight: bold;
}

